@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

/* 
animation element scroll
footer
mail sender
page projet

animation chargement
*/

/* -- GLOBAL -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    scroll-behavior: smooth;
}

body{
    background: #000;
    overflow-x: hidden;
}

.titleSection-n .title{
    z-index: 0;
    border: none;
    font-size: 700%;
    font-weight: bold;
    margin-left: 5%;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px #030117;
    line-height: 100%;
    position: relative;
    letter-spacing: -10px;
}

#about .titleSection-n .title{
    z-index: 1;
}

.titleSection-n .title:hover::before {
    position: absolute;
    content: '';
}

.titleSection-b .title{
    z-index: 1;
    border: none;
    font-size: 700%;
    font-weight: bold;
    margin-left: 5%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    line-height: 100%;
    position: relative;
    letter-spacing: -10px;
}

.titleSection-b .title:hover{
    -webkit-text-fill-color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.titleSection-b .title:hover::before {
    position: absolute;
    content: '';
    color: #000;
}

/* -- NAV -- */

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    position: relative;
    list-style: none;
}

header ul li a
{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    top: -3px;
    margin: 10px;
    position: relative;
}

header
{
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    display: flex;
    padding: 70px 40px;
    z-index: 2;
}

.toggle{
    position: fixed;
}

.menu {
    position: fixed;
    top: 40px;
    left: -900px;
    align-items: center;
    width: 1000px;
    height: 60px;
    background: #171717;
    transition: 0.25s;
    background-color: rgba(0,0,0,0.8);
    padding: 0px 150px;
    gap: 40px;
}
  
.menu.active {
    left: -20px;
    border-radius: 25px;
    transition: 1s;
    width: 900px;
}


header ul li a::after
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: 0;
    background: #fff;
    transition: width 0.3s;
}

header ul li a:hover::after
{
    width: 100%;
}

.toggle
{
    width:40px;
    height: 40px;
    background: url(ressources/menu.png);
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}
.toggle.active
{
    background: url(ressources/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
}

/* -- START -- */
.titlePortfolio{
    position: absolute;
    top: 250px;
    left: 150px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 1000;
    font-size: 2.5em;
}

.typing {
    position: relative;
    font-weight: 700;
    font-size: 6vw; /* utilisation de vw pour définir la taille de police en pourcentage de la largeur de l'écran */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: -0.075em;
    top: -25px;
}

.startfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#contactimg{
    position: absolute;
    top: 92%;
    right: 3%;
    display: flex;
    flex-direction: row;
    gap : 30px;
    z-index: 1;
}
.github{
    width: 60px;
    height: 60px;
}
.linkedin{
    width: 60px;
    height: 60px;
}

.J{
    position: absolute;
    top: 92%;
    left: 2.5%;
    color : #fff;
    font-weight: 700;
    font-size: 350%;
}

header .logo
{
    color : #fff;
    font-weight: 700;
    font-size: 300%;
    line-height: 62px;
    text-decoration: none;
    letter-spacing: 2px;
    position: absolute;
    right: 3%;
}

header .logo::before {
    content: "Portfolio";
    position: absolute;
    top: 3px;
    left: -3px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .logo::after
{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

header .logo:hover::after
{
    width: 75%;
}

.banner
{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.banner .dot{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background: url(ressources/bg-pattern.png) repeat;
    z-index: -2;
}

.banner .color{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    min-height: 100vh;
    z-index: -1;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 85%;
    width: 200%;
    height: 110vh;
}

.banner #t1{
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 50%;
    width: 3000px;
}

.banner #t2{
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 90%;
    width: 3000px;
}

.banner #t3{
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 100%;
    width: 3000px;
}

.banner .textBx
{
    z-index: 1;
}

.banner .cs
{
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 55%;
    height: auto;
}

.startimg{
    width: 40%;
    height: 40.1%;
    border: #fff 1px solid;
}

.middle{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 20%;
    left: -0.1%;
    z-index: 1;
    gap: 75px;
}

#myname{
    margin-right: 5vw;
    margin-top: -10vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 90px;
    text-align: right;
}

.banner .surname
{
    z-index: 1;
    color: #fff;
    width: 720px;
    height: auto;
    font-size: 7em;
    font-weight: bold;
    letter-spacing: -0.055em;
}

.banner .name
{
    
    z-index: 1;
    color: #fff;
    position: absolute;
    width: 720px;
    height: auto;
    font-size: 7em;
    font-weight: bold;
    tab-size: 0px;
    letter-spacing: -0.055em;
}

.arrow{
    z-index: 1;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform:rotate(45deg);
    margin: -20px;
    animation: scroll 3s infinite;
}

.arrow span:nth-child(2){
    animation-delay: -.3s;
}

.arrow span:nth-child(3){
    animation-delay: -.6s;
}

@keyframes scroll{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20%, -20%);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20%, 20%);
    }
}

.banner hr {
    background-color: #fff;
    height: 1px;
    width: 100%;
    border: none;
}

/* INTERVAL */

.interval{
    width: 100%;
    height: 10vh;
    
}

/* -- ABOUT -- */

#about hr{
    background-color: #030117;
    height: 1px;
    width: 100%;
    border: none;
}

#about{
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.bluelink{
    text-decoration: none;
    color: #5a4bff;
    font-weight: 600;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.outer-square {
    position: relative;
    width: 80%;
    height: 438px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.outer-square::before,
.outer-square::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 3px solid #030117;
    border-left: 3px solid #030117;
}

.outer-square::before {
    top: -2px;
    left: -2px;
}

.outer-square::after {
    bottom: -2px;
    right: -2px;
    transform: rotate(180deg);
}
.overlay-square {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.overlay-square::before,
.overlay-square::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 3px solid #030117;
    border-left: 3px solid #030117;
}

.overlay-square::before {
    bottom: -2px;
    left: -2px;
    transform: rotate(270deg);
}

.overlay-square::after {
    top: -2px;
    right: -2px;
    transform: rotate(90deg);
}

.outer-square .textcoord {
    position: absolute;
    top: -10px;
    left: 22px;
}

.textcoord{
    background-color: #fff;
    position: absolute;
    top: -2px;
    color: #030117;
    pointer-events: none;
    z-index: 1;

    font-size: 14px;
    font-weight: bold;
}

.outer-square .coord-text {
    position: absolute;
    z-index: 1;
    color: #030117;
}

.inner-square {
    z-index: 0;
    width: 95%;
    height: 395px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
}

.inner-square div{
    margin: 5px;
}

#command p span.username{
    font-family: monospace;
    font-size: 16px;
    color: #7F71FF; 
}
  
#command p span.at {
    color: #030117; 
}
  
#command p span.pc {
    color: #8a2cf7; 
}
  
#command p span.colon {
    color: #030117;
}
  
#command p span.tilde {
    color: #102fdf; 
}
  
#command p span.dollar {
    color: #030117; 
}

/* PROJECTS */

#projects {
    position: relative;
    width: 100vw;
    height: 100%;
}
  
#projects .dot {
    z-index: -2;
    position: absolute;
    top: -10vh;
    left: 0;
    width: 100%;
    height: 308vh;
    background: url(ressources/bg-pattern.png) repeat;
}

#projects .color {
    position: absolute;
    top: -10vh;
    left: 0;
    z-index: -1;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 85%;
    width: 200%;
    height: 308vh;
    transform: scaleY(-1);
}

#projects hr {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    height: 1px;
    width: 100%;
    border: none;
}

.content{
    color: #fff;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.project{
    position: relative;
    display: flex;
    flex-grow: 0;
    width: 70%;
    height: 300px;
    margin: 50px auto;
    left: 0;
    top: 0;
    cursor: pointer;
}

.project-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

.project-info {
    position: fixed;
    z-index: 1000;
    display: none;
    width: 80%;
    max-width: 800px;
    border-radius: 5px;
    padding: 60px;
}
.project-info .project-title {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 50px;
}
.project-info .project-description {
    text-align: justify;
    font-size: 1.4em;
    line-height: 1.5;
    min-width: 59vw;
    margin-bottom: 20px;
}

.project-info .project-img {
    position: relative;
    top: -150px;
    height: 90%;
    max-width: 30vw;
    object-fit: cover;
    object-position: left;
}

.project-info .close-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1000;
}

.project-info .close-btn::before,
.project-info .close-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: white;
}
.project-info .close-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.project-info .close-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.project-info.active {
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    min-width: 100vw;
    position: fixed;
}

.project-group {
    display: flex;
    height: 100%;
    gap: 30px;
}

.project-overlay.active {
    display: block;
}

.project .test{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 50px auto;
}

.project .description{
    position: absolute;
    z-index: 1;
    position: absolute;
    width: 47vw;
    color: #030117;
    justify-content: center;
    text-align: left;
    top: 60px;
    right: -20px;
}

.project .description p{
    position: absolute;
    margin: 1vw;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.5vw;
    letter-spacing: -0.055em;
    background-color: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 5vh;
    box-shadow: #000 0px 0px 2vw;
    transition: all 0.5s ease;
}

.project .description p:hover{
    transform: translate(-10px, -10px);
    transition: all 0.5s ease;
}

.project .description p:before,
.project .description p:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 99.5%;
    height: 99%;
    border: 1px solid white;
    transform: translate(0px, 0px);
    transition: all 0.5s ease;
    border-radius: 5vh;
    z-index: -1;
}

.project .description p:hover:before {
    opacity: 0.75;
    transform: translate(10px, 10px);
    transition: all 0.5s ease;
}

.project .description p:hover:after {
    transform: translate(20px, 20px);
    transition: all 0.5s ease;
    opacity: 0.25;
}

.project .under{
    position: absolute;
    display: flex;
    justify-content: right;
    padding: 0vw;
    gap: 2.3vw;
    position: absolute;
    width: 100%;
    top: 240px;
    right: 50px;
}

.project .hovertxt{
    position: absolute;
    display: flex;
    flex-direction: right;
    text-align: right;
    justify-content: right;
    align-items: right;
    top: 10px;
    right: 50px;
}

.project .hover .info{
    position: absolute;
    font-weight: 400;
    font-size: 1vw;
    letter-spacing: -0.13em;
    text-align: right;
    width: 300px;
    top: -20px;
    right: 0;
}

.project .hover .projectname{
    position: absolute;
    font-weight: 700;
    font-size: 2.5vw;
    letter-spacing: -0.055em;
    text-shadow: 0px 0.1vw 0.1vw rgba(0, 0, 0, 0.25);
    text-align: right;
}

.project .projectimg{
    position: absolute;
    width: 500px;
    height: 280px;
    left: 0;
    top: 0;
}

.project .square1{
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    width: 500px;
    height: 280px;
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.75;
    transition: all 0.5s ease;
}

.project .square2{
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    width: 500px;
    height: 280px;
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.25;
    transition: all 0.5s ease;
}

.project .projectimg:hover ~ .square1 {
    transform: translate(10px, 10px);
    transition: all 0.5s ease;
  }
  
.project .projectimg:hover ~ .square2 {
    transform: translate(20px, 20px);
    transition: all 0.5s ease;
}

.project .projectgithub {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 540px;
}

.projectd{
    position: relative;
    display: flex;
    flex-grow: 0;
    width: 70%;
    height: 300px;
    margin: 50px auto;
    left: 0;
    top: 0;
}

.projectd .test{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 50px auto;
}

.projectd .description{
    position: absolute;
    z-index: 1;
    position: absolute;
    width: 47vw;
    color: #030117;
    justify-content: center;
    text-align: left;
    top: 60px;
    left: -20px;
}

.projectd .description p{
    position: absolute;
    margin: 1vw;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.5vw;
    letter-spacing: -0.055em;
    background-color: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 5vh;
    box-shadow: #000 0px 0px 2vw;
    transition: all 0.5s ease;
}

.projectd .description p:hover{
    transform: translate(10px, -10px);
    transition: all 0.5s ease;
}

.projectd .description p:before,
.projectd .description p:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 99.5%;
    height: 99%;
    border: 1px solid white;
    transform: translate(0px, 0px);
    transition: all 0.5s ease;
    border-radius: 5vh;
    z-index: -1;
}

.projectd .description p:hover:before {
    opacity: 0.75;
    transform: translate(-10px, 10px);
    transition: all 0.5s ease;
}

.projectd .description p:hover:after {
    transform: translate(-20px, 20px);
    transition: all 0.5s ease;
    opacity: 0.25;
}

.projectd .under{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0vw;
    gap: 2.3vw;
    position: absolute;
    left: 50px;
    top: 240px;
}
.under span{
    position: relative;
}

.under span::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -7px;
    left: 0;
    background: #fff;
    transition: width 0.3s;
  }
  
  .under span:hover::after {
    width: 100%;
  }

.projectd .hovertxt{
    position: absolute;
    display: flex;
    top: 10px;
    left: 50px;
}

.projectd .hover .info{
    position: absolute;
    font-weight: 400;
    font-size: 1vw;
    letter-spacing: -0.13em;
    width: 300px;
    top: -20px;
    left: 0;
}

.projectd .hover .projectname{
    position: absolute;
    font-weight: 700;
    font-size: 2.5vw;
    letter-spacing: -0.055em;
    width: 100vw;
    text-shadow: 0px 0.1vw 0.1vw rgba(0, 0, 0, 0.25);
}

.projectd .projectimg{
    position: absolute;
    width: 500px;
    height: 280px;
    right: 0;
    top: 0;
}

.projectd .square1{
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.75;
    width: 500px;
    height: 280px;
    right: 0px;
    top: 0px;
    transition: all 0.5s ease;
}

.projectd .square2{
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.25;
    width: 500px;
    height: 280px;
    right: 0px;
    top: 0px;
    transition: all 0.5s ease;
}
.projectd .projectimg:hover ~ .square1 {
    transform: translate(-10px, 10px);
    transition: all 0.5s ease;
  }
  
.projectd .projectimg:hover ~ .square2 {
    transform: translate(-20px, 20px);
    transition: all 0.5s ease;
}


.projectd .projectgithub {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 540px;
    z-index: 1;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 33px;
    margin: 50px auto;
    justify-content: center;
    padding: 0 auto;
}
  
.card {
    position: relative;
    max-width: 390px;
    height: 400px;
    width: 350px;
    padding: 20px;
    background-color: #FFFFFF;
    color: #030117;
    border-radius: 20px;
    text-align: center;
    margin: 50px auto;
    text-align: left;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.card:hover{
    transform: translate(-10px, -10px);
    transition: all 0.5s ease;
}

.card:before,
.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    z-index: -1;
    transition: all 0.5s ease;
}

.card:hover:before {
    opacity: 0.75;
    transform: translate(10px, 10px);
    transition: all 0.5s ease;
}

.card:hover:after {
    transform: translate(20px, 20px);
    transition: all 0.5s ease;
    opacity: 0.25;
}
  
.card-top {
    display: flex;
    justify-content: space-between;
}
  
.card-image-left {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 50px;
    width: 50px;
}
.card-image-right{
    position: absolute;
    top: 20px;
    right: 30px;
    height: 30px;
    width: 30px;
}
  
.card-middle {
    position: absolute;
    top: 80px;
    left: 20px;
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 90%;
}
  
.card-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.055em;
    margin-bottom: 10px;
}
  
.card-text {
    position: absolute;
    top: 50px;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: -0.055em;
    margin: 0;
}

.card-bottom {
    position: absolute; /* Ajout de la propriété relative */
    bottom: -30px;
    left: -10px;
    display: flex;
}
  
.card-bottom-text {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.13em;
    margin: 15px;
}
  


/* SKILLS */

#skills hr{
    background-color: #030117;
    height: 1px;
    width: 100%;
    border: none;
}

#skills{
    background-color: #fff;
    width: 100%;
}

.table{
    padding: 100px;
}

table {
    border-collapse:separate;
    width: 70%;
    margin: 0 auto;
    height: 600px;
}
td {
    border: 1px solid #030117;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.055em;
}

.first-col {
    position: relative;
    width: 30%;
    min-width: 30%;
    overflow: hidden;
    padding: 10px;
}

.bg-fill-container {
    position: relative;
    display: inline-block;
}

.hover-bg-fill {
    position: relative;
    z-index: 1;
    transition: color 0.2s ease-in-out;
}

.hover-bg-fill::before {
    content: '';
    position: absolute;
    right: -0.5rem;
    left: -0.5rem;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: transform 0.2s ease-in-out;
    border-radius: 0.4rem;
    transform: scaleX(0);
    transform-origin: left;
}

.hover-bg-fill:hover {
    color: #fff;
}

.hover-bg-fill:hover::before {
    transform: scale(1);
}
  
.first-col span{
    margin-left: 5px;
}

.second-col {
    position: relative;
    width: 70%;
    vertical-align: baseline;
}

.cg, .wd, .d{
    display: none;
    flex-wrap: wrap;
}

.sd{
    display: flex;
    flex-wrap: wrap;
}

.element{
    position: absolute;
    left: 0;
    top:0;
    text-align: center;
}

.textelement{
    padding-right: 2px;
    position: absolute;
    left: 50%;
    top: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: -0.13em;
}

.contenu{
    position: absolute;
    display: flex;
    justify-content: space-between;
}

figcaption {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
.second-col figure{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-bottom: 25px;
}

.second-col img{
    width: 100px;
    height: 100px;

    margin: 5px;
    margin-bottom: 25px;
}

#sdl{
    width: 120px;
    height: 80px;
}

.coltitle{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.055em;
    vertical-align: middle;
}

.end{
    text-align: center;
    margin-left: 0px;
}



  

/* CONTACT */

#contact {
    position: relative;
    width: 100%;
    height: 100%;
}
  
#contact .backdot {
    z-index: -2;
    position: absolute;
    top: -10vh;
    left: 0;
    width: 100%;
    height: 110vh;
    background: url(ressources/bg-pattern.png) repeat;
}

#contact .backcolor {
    position: absolute;
    top: -10vh;
    left: 0;
    z-index: -1;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 85%;
    width: 200%;
    height: 110vh;
}

#contact hr {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    height: 1px;
    width: 100%;
    border: none;
}

.link-c img
{
    width: 10%;
    height: 10%;
    margin-top: 20px;
    margin-right: 5%;
    margin-bottom: 10%;
}

.contact .content
{
    padding: 100px 200px 100px 200px;
    display: flex;
    flex-direction: row;
}

.formBx
{
    min-width: 60%;
}

.formBx form
{
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfoBx h3
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    resize: none;
}

.formBx form textarea
{
    min-height: 200px;
}

.formBx form input[type="submit"]
{
    max-width: 100px;
    background: linear-gradient(90deg, #8a2cf7, #3c59fd  , #dd33cf, #8a2cf7);
    background-size: 400%;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

.formBx form input[type="submit"]:hover
{
    animation: animate 8s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}



.contactInfoBx .box
{
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3
{
    font-weight: 500;
    margin-bottom: 0;
}

.contactInfoBx .box .text p
{
    color: #aaaaaa;
}

.icon1
{
    width: 40px;
    height: 55px;
    margin-right: 10px;
}

.icon2
{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.icon3
{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

input{
    border-radius: 1em;
}
textarea{
    border-radius: 1em;
}

/* FOOTER */
footer{
    position: relative;
    width: 100%;
    height: 100%;
    top: -45px;
    z-index: 1;
}

.wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 1em;
}

.wrapper h3{
    position: absolute;
    top: 80px;
    letter-spacing: 0.5em;
}

h3.glitch {
    display: inline-block;
    color: white;
    font-weight: 800;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

h3.glitch::before,
h3.glitch::after {
  padding: 10px;
  color: white;
  content: "Julie Chevallier";
  position: absolute;
  width: 100%;
  height: 50px;
  overflow: hidden;
  top: 0;
}

h3.glitch::before {
  left: 3px;
  text-shadow: -3px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
  animation: glitch-anim-1 1s infinite linear alternate-reverse;
}

h3.glitch::after {
  left: -3px;
  text-shadow: -3px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
  animation: glitch-anim-2 1.5s infinite linear alternate-reverse;
}

h1.glitch {
    display: inline-block;
  color: white;
  font-weight: 800;
  position: relative;
  font-size: 100px;
  padding: 30px;

  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

h1.glitch::before,
h1.glitch::after {
  padding: 30px;
  color: white;
  content: "2023 ©All Rights Reserved";
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}

h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
  animation: glitch-anim-1 0.5s infinite linear alternate-reverse;
}

h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
  animation: glitch-anim-2 1s infinite linear alternate-reverse;
}
  
@keyframes glitch-anim-1 {
  0% {
    clip: rect(10px, 9999px, 20px, 0);
    transform: skew(0.5deg);
  }
  20% {
    clip: rect(50px, 9999px, 90px, 0);
    transform: skew(0.8deg);
  }
  40% {
    clip: rect(10px, 9999px, 20px, 0);
    transform: skew(0.5deg);
  }
  60% {
    clip: rect(30px, 9999px, 60px, 0);
    transform: skew(0.2deg);
  }
  80% {
    clip: rect(10px, 9999px, 20px, 0);
    transform: skew(0.5deg);
  }
  100% {
    clip: rect(10px, 9999px, 20px, 0);
    transform: skew(0.5deg);
  }
}
 
@keyframes glitch-anim-2 {
  0% {
    clip: rect(60px, 9999px, 80px, 0);
    transform: skew(0.3deg);
  }
  20% {
    clip: rect(30px, 9999px, 60px, 0);
    transform: skew(0.2deg);
  }
  40% {
    clip: rect(10px, 9999px, 20px, 0);
    transform: skew(0.5deg);
  }
  60% {
    clip: rect(50px, 9999px, 90px, 0);
    transform: skew(0.8deg);
  }
  80% {
    clip: rect(10px, 9999px, 20px, 0);
    transform: skew(0.5deg);
  }
  100% {
    clip: rect(10px, 9999px, 20px, 0);
    transform: skew(0.5deg);
  }
}

.interval {
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.section-decorators {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scrollBox,
.scrollBox2 {
    z-index: 0;
    width: 100vw;
    height: 50px;
    background-color: white;
    transition: transform 1.5s ease-out;
    transform: translateX(-100vw);
}
  
.in-view .scrollBox {
    transform: translateX(0vw);
}

.scroll-up .scrollBox {
    transform: translateX(-100vw);
}

.scroll-down .scrollBox {
    transform: translateX(0vw);
}

.scrollBox:nth-child(1),
.scrollBox2:nth-child(1) {
    transition-delay: 0.5s; /* Inverser le delay */
}
.scrollBox:nth-child(2),
.scrollBox2:nth-child(2) {
    transition-delay: 0.3s; /* Inverser le delay */
}
.scrollBox:nth-child(3),
.scrollBox2:nth-child(3) {
    transition-delay: 0.1s; /* Inverser le delay */
}

.scroll-up .scrollBox:nth-child(3),
.scroll-up .scrollBox2:nth-child(3) {
    transition-delay: 0.5s; /* Inverser le delay */
}

.scroll-up .scrollBox:nth-child(2),
.scroll-up .scrollBox2:nth-child(2) {
    transition-delay: 0.3s; /* Inverser le delay */
}

.scroll-up .scrollBox:nth-child(1),
.scroll-up .scrollBox2:nth-child(1) {
    transition-delay: 0.1s; /* Inverser le delay */
}

.scroll-down .scrollBox:nth-child(1),
.scroll-down .scrollBox2:nth-child(1) {
    transition-delay: 0.5s; /* Inverser le delay */
}

.scroll-down .scrollBox:nth-child(2),
.scroll-down .scrollBox2:nth-child(2) {
    transition-delay: 0.3s; /* Inverser le delay */
}

.scroll-down .scrollBox:nth-child(3),
.scroll-down .scrollBox2:nth-child(3) {
    transition-delay: 0.1s; /* Inverser le delay */
}




.in-view .scrollBox2 {
    transform: translateX(-100vw);
}

.scroll-up .scrollBox2 {
    transform: translateX(0vw);
}

.scroll-down .scrollBox2 {
    transform: translateX(-100vw);
}
  


@media screen and (min-width: 800px) {
    .scrollBox.active:first-child {
      transform: translateX(calc(0vw));
    }
  
    .scrollBox.active:not(:first-child):not(:last-child) {
      transform: translateX(calc(0vw));
    }
  
    .scrollBox.active:last-child {
      transform: translateX(calc(0vw));
    }



    .scrollBox2.active:first-child {
        transform: translateX(calc(0vw));
      }
    
      .scrollBox2.active:not(:first-child):not(:last-child) {
        transform: translateX(calc(0vw));
      }
    
      .scrollBox2.active:last-child {
        transform: translateX(calc(0vw));
      }
}


/* RESPONSIVE */

@media (max-width:991px)
{

    
}
