@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

/* 
langue anglais/français
mode nuit/jour

cybersécurité + dev jeu -> Mes objectifs
image gallery
add text about me

add responsive skills & gallery
add js quand hover sur un titre + link
envoie mail
slider img project

when scroll s'assombrit
refund menu, only burger + anim cross + come bottom + refaire le text des sections en gras + hover + cache navbar quand actif
gallery img hover sa grandit(mieux que système de click)
gallery + aérer
card reset, placement droite, adaptation text
*/


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    scroll-behavior: smooth;
}

.contact,
.projects,
.about,
.skills
{
    margin-top: -40px;
    margin-bottom: -40px;
}



body
{
    background-color: #171717;
}

section
{
    padding: 10%;
}

/* //////BANNER////// */

video
{   
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    min-height: 100vh;
    z-index: 5;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner
{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .textBx
{
    z-index: 10;
}

.textBx
{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; */
    line-height: 0.5em;
}

.textTitle
{
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    background: linear-gradient(90deg, #8a2cf7, #102fdf  , #dd33cf);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner .name
{
    font-size: 4.5em;
    line-height: 1.1em;
    font-weight: 700;
    font-family: 'Heebo', monospace;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(ressources/back.png);
    -webkit-background-clip: text;
            background-clip: text;
    background-position: 0 0;
    animation: back 25s linear infinite;
}
@keyframes back
{
    100%
    {
        background-position: 2000px 0;;
    }
}

.banner h2
{
    font-size: 2.5em;
    line-height: 0.7em;
    color : #fff;
    font-weight: 700;
}

.banner h3
{
    font-size: 1.5em;
    line-height: 3em;
    color : #fff;
    font-weight: 500;
}

.btn
{
    position: absolute;
    /* background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4); */
    background: linear-gradient(90deg, #8a2cf7, #3c59fd  , #dd33cf, #8a2cf7);
    background-size: 400%;
    border-radius: 5px;
    display: inline-block;
    color : #fff;
    margin-top: 20px;
    padding: 15px 25px;
    font-size: 15px;
    text-decoration : none;
    letter-spacing: 2px;
    font-weight: 900;
}

.btn:hover
{
    animation: animate 8s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}

.btn::before
{
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #8a2cf7, #3c59fd  , #dd33cf, #8a2cf7);
    background-size: 400%;
    border-radius: 5px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}

.btn:hover::before
{
    filter: blur(20px);
    opacity: 1;
}

/* //////NAV////// */

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.nav
{
    background: #171717;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header .logo
{
    color : #fff;
    font-size: 2em;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
}

header .logo::after
{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

header .logo:hover::after
{
    width: 75%;
}

/*header .logo:hover
{
    font-weight: bolder;
} */

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    position: relative;
    list-style: none;
}

header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;

}

header ul li a::after
{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

header ul li a:hover::after
{
    width: 50%;
}

/* //////SECTION////// */

.heading
{
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}


.heading h3
{
    font-size: 1.5em;
}

.content
{
    color: #666;
}

.contentBx
{
 min-width: 40%;
}

/* //////ABOUT////// */

.about
{
    margin-bottom: -40px;
}

.link img
{
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-right: 10px;
}

hr
{
    margin-left: 10%;
    margin-right: 10%;
    border : 0;
    border-top: 1px solid #303030;
}

:root {
    --step: 5%;
    --pattern: center / 75%;
  
    --rainbow: repeating-linear-gradient(
        0deg,
        rgb(255, 119, 115) calc(var(--step) * 1),
        rgba(255, 237, 95, 1) calc(var(--step) * 2),
        rgba(168, 255, 95, 1) calc(var(--step) * 3),
        rgba(131, 255, 247, 1) calc(var(--step) * 4),
        rgba(120, 148, 255, 1) calc(var(--step) * 5),
        rgb(216, 117, 255) calc(var(--step) * 6),
        rgb(255, 119, 115) calc(var(--step) * 7)
      )
      0% var(--bg-y) / 200% 700%;
    --diagonal: repeating-linear-gradient(
        128deg,
        #0e152e 0%,
        hsl(180, 10%, 60%) 3.8%,
        hsl(180, 10%, 60%) 4.5%,
        hsl(180, 10%, 60%) 5.2%,
        #0e152e 10%,
        #0e152e 12%
      )
      var(--bg-x) var(--bg-y) / 300%;
    --shade: radial-gradient(
        farthest-corner circle at var(--x) var(--y),
        rgba(255, 255, 255, 0.1) 12%,
        rgba(255, 255, 255, 0.15) 20%,
        rgba(255, 255, 255, 0.25) 120%
      )
      var(--bg-x) var(--bg-y) / 300%;
}
.about .card {
    width: 285px; /*380*/
    height: 350px; /*467*/
    box-sizing: border-box;
    position: relative;
}

.about .card__wrapper
{
    perspective: 2400px;
    position: absolute;
    inset: 0;
}
.about .card__3d
{
    transform: rotateY(var(--r-x)) rotateX(var(--r-y));
    position: absolute;
    inset: 0;
    clip-path: inset(0 0 0 0 round 48px);
}
.about .card__image {
    clip-path: inset(0 0 0 0 round 48px);
}
.about .card__image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

  
/* soft light */
.about .card__layer1 {
    position: absolute;
    inset: 0;
    z-index: 20;
    mix-blend-mode: soft-light;
    clip-path: inset(0 0 1px 0 round 48px);
    background: radial-gradient(
      farthest-corner circle at var(--x) var(--y),
      rgba(255, 255, 255, 0.8) 10%,
      rgba(255, 255, 255, 0.65) 20%,
      rgba(255, 255, 255, 0) 90%
    );
}
/* first crazy blend  */
.about .card__layer2 {
    position: absolute;
    inset: 0;
    z-index: 30;
  
    mix-blend-mode: color-dodge;
    will-change: background;
    transition-property: opacity;
    clip-path: inset(0 0 1px 0 round 48px);
  
    background-blend-mode: hue, hue, hard-light, overlay;
    background: var(--pattern), var(--rainbow), var(--diagonal);
}
/* second crazy blend  */
.about .card__layer2:after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--pattern), var(--rainbow), var(--diagonal), var(--shade);
    mix-blend-mode: exclusion;
    background-size: 75%, 200% 400%, 800%, 200%;
    background-position: center, 0% var(--duration) var(--bg-y),
      calc(var(--bg-x) * -1) calc(var(--bg-y) * -1), var(--bg-x) var(--bg-y);
    background-blend-mode: soft-light, hue, hard-light;
}

/* //////PROJECT////// */

.project
{
    position: relative;
    display: block;
    margin-top: 20px;
    padding: 20px 40px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    border: 1px solid #303030;
    border-radius: 10px;
}

.project p
{
    margin-top: 20px;
    font-size: 15px;
    color: #666;
}

.iconlink
{
    padding-top: 100px;
    color: #fff;
    text-decoration: none;
}

.iconlink img
{
    width: 15px;
    height: 15px;
    margin-top: 20px;
}

/* //////CONTACT////// */

.contact .content
{
    display: flex;
    justify-content: space-between;
}

.contact .content .formBx
{
    margin-top: -50px;
}

.formBx
{
    min-width: 60%;
}

.formBx form
{
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfoBx h3
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formBx form textarea
{
    min-height: 200px;
}

.formBx form input[type="submit"]
{
    max-width: 100px;
    background: linear-gradient(90deg, #8a2cf7, #3c59fd  , #dd33cf, #8a2cf7);
    background-size: 400%;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

.formBx form input[type="submit"]:hover
{
    animation: animate 8s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}


.contactInfoBx
{
    position: relative;
}

.contactInfoBx .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3
{
    font-weight: 500;
    margin-bottom: 0;
}

.contactInfoBx .box .text p
{
    color: #666;
}

.icon1
{
    width: 20px;
    height: 30px;
    margin-right: 10px;
}

.icon2
{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.icon3
{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* //////FOOTER////// */

.copyright
{
    color: #666;
    padding: 2%;
    text-align: center;
    font-size: 0.7em;
}

/* //////SKILLS////// */

svg
{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle
{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #fff;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2)
{
    stroke: #7F71FF;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.skills .card:nth-child(1) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 90)/100);
}

.skills .card:nth-child(2) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 70)/100);
}

.skills .card:nth-child(3) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 65)/100);
}

.skills .card:nth-child(4) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 40)/100);
}

.skills .card:nth-child(5) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 80)/100);
}

.skills .card:nth-child(6) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 90)/100);
}

.skills .card:nth-child(7) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 40)/100);
}

.skills .card:nth-child(8) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 80)/100);
}

.container
{
    /* scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: hidden; */
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 2.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow-x: scroll;
}

.container::-webkit-scrollbar
{
    display: none;
    overflow: hidden;
}

.container .card
{
    position: relative;
    background-image: linear-gradient(to bottom, #7500fc, #1c0a55);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    transition: 0.5s;
    scrollbar-width: none;
}

.container .card:hover
{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}

.container .card::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.03);
    pointer-events: none;
    z-index: 1;
}

.skills .card
{
    margin-top: 20px;
}

.percent
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 50px #000;
    background: #222;
    z-index: 500 ;
}

.percent .number
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2
{
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.skills .card:hover .percent .number h2
{
    color: #fff;
    font-size: 60px;
}

.percent .number h2 span
{
    font-size: 24px;
    color: #777;
}

.skills .card:hover .percent .number h2 span
{
    color: #fff;
}

.skills .text
{
    margin-top: 20px;
    position: relative;
    color: #171717;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
}

.skills .card:hover .text
{
    color: #fff;
}

.skills .container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

#skills .card
{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 5px;

}

/* //////GALLERY////// */

#index-gallery
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    "gallery-p gallery-p gallery-p gallery-p"
    "img1 img2 img3 img4"
    "img5 img6 img3 img7";
}

#index-gallery .gallery-img
{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 5px;

}

#index-gallery .img1
{
    grid-area: img1;   
    background-image: url("img/img1.png");
}

#index-gallery .img2
{
    grid-area: img2;   
    background-image: url("img/img2.png");
}

#index-gallery .img3
{
    grid-area: img3;   
    background-image: url("img/img3.png");
    height: 610px;
}

#index-gallery .img4
{
    grid-area: img4;   
    background-image: url("img/img4.png");
}

#index-gallery .img5
{
    grid-area: img5;   
    background-image: url("img/img5.png");
}

#index-gallery .img6
{
    grid-area: img6;   
    background-image: url("img/img6.png");
}

#index-gallery .img7
{
    grid-area: img7;   
    background-image: url("img/img7.png");
}

.gallery-img div
{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img a
{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery-img div:hover
{
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}


.img-window
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

div.img-window
{
    background-color: rgba(0,0,0,0.8);
}

.img-window img
{
    max-height: 80vh;
    max-width: 80vw;
    background-color: #000;
}

.img-btn-next
{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #000;
    position: fixed;
    top: 48vh;
    z-index: 500;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-next:hover
{
    opacity: 0.8;
}

.img-btn-prev
{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #000;
    position: fixed;
    top: 48vh;
    z-index: 500;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-prev:hover
{
    opacity: 0.8;
}






/* //////RESPONSIVE////// */


@media (max-width:991px)
{
    .contact .content
    {
        display: contents;
        justify-content: space-between;
    }

    .contact .content .formBx
    {
        margin-top: 0px;
    }

    .project
    {
        padding: 10px 20px;
        font-size: 15px;
    }
    .project p
    {
        font-size: 13px;
    }

    .banner h2
    {
        font-size: 1.5em;
        font-weight: 500;
        line-height: 1.2em;
    }

    .banner h3
    {
        font-size: 1.2em;
        font-weight: 500;
    }

    .formBx form h3,
    .contactInfoBx h3
    {
        font-size: 18px;
    }

    .contactInfoBx .box .text {
        font-size: 70%;
        font-weight: 300;
    }

    header,
    header.nav
    {
        padding: 20px 50px;
        z-index: 1000;
        color:#fff;
        font-size: 1.2em;
        font-weight: 800;
    }

    header.nav .menu
    {
        color: #fff;
    }

    .menu
    {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #171717;
        transition: 0.5s;
        z-index: 999;
        border-top: 110px solid rgba(0,0,0,0.2);
        background-color: rgba(0,0,0,0.8);
    }

    .menu.active
    {
        left: 0;
    }

    header ul li a
    {
        color:#fff;
        font-size: 24px;
        margin: 10px;
    }

    header ul li a:hover
    {
        color:#7F71FF;
    }

    .toggle
    {
        width:40px;
        height: 40px;
        background: url(ressources/menu.png);
        color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active
    {
        background: url(ressources/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    .contact,
    .projects,
    .about,
    .skills
    {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
